extends layout

block content
  .w3-card-4
    h4 Welcome #{userProfile.email} 
    //- img(src=user.picture)
    br
    p This is the content of <code>req.user</code> .
    p Note: <code>_raw</code> and <code>_json</code> properties have been ommited.
    pre
      code #{userProfile_pretty}
